doctype html
html
  head
    title= app.name
  body
    h1 hello #{app.name}
    if user
      ul.user
        li
          img.icon(src=user.icon)
        li
          span.name= user.name
        li
          a(href="/auth/logout") logout
    else
      ul
        li
          a(href="/auth/login") login
    script(src="/dist/index.js")
