doctype html
html
  head
    title semirara
  body
    h1 hello koa
    if user
      ul.user
        li
          img.icon(src=user.icon)
        li
          span.name= user.name
        li
          a(href="/auth/logout") logout
    else
      ul
        li
          a(href="/auth/login") login
