@import 'nib/normalize'
normalize-css()

html
  height: 100%

body
  height: 100%
  background-color: #66878D
  font: 12pt "Lucida Grande", Helvetica, Arial, sans-serif
  color: #fafafa

div, span, ul, li, input, img
  margin: 0px
  padding: 0px

div#app
  height: 100%

div.app
  max-width: 800px
  height: 100%

div.login
  font-size: 12pt
  float: right
  li
    display: inline-block
    margin-right: 5px
    span
      padding: 10px 4px 2px 4px
      background-color: white
  img.usericon
    margin: 0px 3px 0px 0px

div.editor
  float: right
  width: 100%
  max-width: 600px
  font-size: 12pt
  ul
    margin-left: 20px
  li
    min-height: 1.6em
    margin-bottom: 0.2em
    word-wrap: break-word;
  input
    width: 98%
    font: 1em "Lucida Grande", Helvetica, Arial, sans-serif
    color: #111
    background-color: #eee
    border: none
  code()
    font-family: Monaco, serif
    background-color: #000
    font-color: #fff
  .codestart
    code()
    font-size: 0.7em
    padding: 0.1em 0.5em 0.1em 0.5em
    background-color: #7E718D
  .code
    code()
    padding: 0.1em
  a
    color: white
    cursor: pointer
    text-decoration: underline
  img.usericon
    margin-left: 0.2em
    width: 1.2em
    height: 1.2em

div.pagelist
  width: 200px
  float: left
  li
    height: 30px
    cursor: pointer
    padding: 3px
    margin: 1px
    &:hover, &.selected
      background-color: #56777D
