@import 'nib/normalize'
normalize-css()

@import 'railscasts.css'

window = {
  width: 1000px
}

color = {
  bg: {
    base: #56777D
    select: #66878D
  }
  font: #fafafa
}

html
  height: 100%

body
  height: 100%
  background-color: color.bg.base
  font: 12pt "Lucida Grande", Helvetica, Arial, sans-serif
  color: color.font

h1
  font-size: 40pt

ul, li
  margin: 0px
  padding: 0px

li
  list-style: none

input
  color: #111
  background-color: #eee
  border: none
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif

div#app
  height: 100% auto

div.app
  height: 100% auto
  padding: 5px
  div.main
    margin: 0 auto
    height: 100% auto
    max-width: window.width
    @media (max-width: window.width)
      width: 100%

div.header

  .toolbar
    font-size: 12pt
    color: #333333
    li
      display: inline-block
      margin: auto 5px
      span
        padding: 10px 4px 2px 4px
        background-color: white
    .button
      text-decoration: underline
      cursor: pointer

    .login
      float: right
      img.usericon
        margin: 0px 3px 0px 0px

    .edit-tool
      float: left
      display: inline-block

    .clear
      clear: both

  h1
    display: inline-block
  .page-date
    font-size: 0.8em
    display: inline-block
    margin-left: 0.5em

div.editor
  float: left
  width: 800px
  @media (max-width: window.width)
    width: 100%
  font-size: 12pt
  h3
    margin-top: 2em
    margin-bottom: 0.5em
  ul
    margin-left: 20px
  li
    min-height: 1.6em
    margin-bottom: 0.3em
    word-wrap: break-word
  input
    width: 98%
  code()
    font-family: Monaco, serif
    color: #fff
    padding: 0.1em
  .codeblock
    code()
    padding: 0.1em 0.3em 0.8em 0em
    background-color: #000
  .codeblock-start
    code()
    font-size: 0.7em
    padding: 0.1em 0.5em 0.1em 0.5em
    background-color: #7E718D
  .codeblock-end
    code()
    padding: 0.1em 0.3em 0.1em 0em
    background-color: #000
  .cli
    code()
    background-color: #5C5742
    font-size: 0.8em
    padding: 0.1em 0.3em 0.1em 0.3em
    .prefix
      color: #48D1C7
  .inline-code
    code()
    background-color: #000
    padding: 0.1em 0.3em 0.1em 0.3em
  a
    color: #FDD3B2
  a.internal
    background-color: #8D6B66
    color: #fff
    text-decoration: none
    padding: 0.1em 0.2em 0.1em 0.2em
  img
    max-width: 95%
  img.usericon
    margin-left: 0.2em
    width: 1.2em
    height: 1.2em
  strong
    text-decoration: underline

div.pagelist
  @media (max-width: window.width)
    width: 100%
    margin: 0 auto
    li
      background-size: contain
      background-position: center center
      background-repeat: no-repeat
      display: inline-block
      width: 6em
      height: 6em
      overflow: hidden
      font-size: 1.2em
    li.image
      span
        background-color: #777
  width: 200px
  float: left
  li
    background-size: contain
    background-position: right center
    background-repeat: no-repeat
    min-height: 1.5em
    padding: 3px
    margin: 1px
    background-color: color.bg.base
    &:hover, &.selected
      background-color: color.bg.select
      span
        background-color: color.bg.select
    a
      text-decoration: none
      color: #FFF
      display: block
      width: 100%
      height: 100%
    span
      background-color: color.bg.base

div.socket-status
  font-size: 0.9em
  position: fixed
  right: 0
  bottom: 0
  .connect
    background-color: color.bg.select
    padding: 2px
    display: none
  .disconnect
    background-color: #CC3333
    padding: 2px

div.footer
  clear: both
  height: 100px
