@import 'nib/normalize'
normalize-css()

@import 'railscasts.css'

window = {
  width: 1000px
}

color = {
  bg: {
    base: #56777D
    select: #66878D
  }
  font: #fafafa
}

html
  height: 100%

body
  height: 100%
  background-color: color.bg.base
  font: 12pt "Lucida Grande", Helvetica, Arial, sans-serif
  color: color.font

h1
  font-size: 40pt

div, span, ul, li, input, img
  margin: 0px
  padding: 0px

li
  list-style: none


div#app
  height: 100%
  padding: 5px

div.app
  margin: 0 auto
  height: 100%
  max-width: window.width
  @media (max-width: window.width)
    width: 100%

div.login
  font-size: 12pt
  float: right
  li
    display: inline-block
    margin-right: 5px
    span
      padding: 10px 4px 2px 4px
      background-color: white
  img.usericon
    margin: 0px 3px 0px 0px

div.editor
  float: left
  width: 800px
  @media (max-width: window.width)
    width: 100%
  font-size: 12pt
  h3
    margin-top: 2em
    margin-bottom: 0.5em
  ul
    margin-left: 20px
  li
    min-height: 1.6em
    margin-bottom: 0.3em
    word-wrap: break-word
  input
    width: 98%
    font: 1em "Lucida Grande", Helvetica, Arial, sans-serif
    color: #111
    background-color: #eee
    border: none
  code()
    font-family: Monaco, serif
    background-color: #000
    color: #fff
    padding: 0.1em
  .codeblock
    code()
  .codeblock-start
    code()
    font-size: 0.7em
    padding: 0.1em 0.5em 0.1em 0.5em
    background-color: #7E718D
  .cli
    code()
    background-color: #5C5742
    font-size: 0.8em
    padding: 0.1em 0.3em 0.1em 0.3em
    .prefix
      color: #48D1C7
  a
    color: #FDD3B2
  a.internal
    background-color: #8D6B66
    color: #fff
    text-decoration: none
    padding: 0.1em 0.2em 0.1em 0.2em
  img.usericon
    margin-left: 0.2em
    width: 1.2em
    height: 1.2em

div.pagelist
  @media (max-width: window.width)
    width: 100%
    margin: 0 auto
    li
      display: inline-block
      width: 6em
      height: 6em
      overflow: hidden
      font-size: 1.2em
  width: 200px
  float: left
  li
    min-height: 1.5em
    padding: 3px
    margin: 1px
    background-color: color.bg.base
    &:hover, &.selected
      background-color: color.bg.select
    a
      text-decoration: none
      color: #FFF
      display: block
      width: 100%
      height: 100%
