body
  background-color: #66878D
  font: 12pt "Lucida Grande", Helvetica, Arial, sans-serif
  color: #fafafa

div, span, ul, li, textarea
  margin: 0px
  padding: 0px

.app
  max-width: 800px

.login
  font-size: 12pt
  float: right

.login li
  display: inline-block
  margin-right: 5px

.login li span
  padding: 10px 4px 2px 4px
  background-color: white

.login img
  margin: 0px

.editor
  float: right
  width: 100%
  max-width: 600px

.editor textarea
  width: 100%
  height: 300px

.pagelist
  width: 200px
  float: left
