body
  background-color: #66878D
  font: 12pt "Lucida Grande", Helvetica, Arial, sans-serif
  color: #eee

.login
  font-size: 12pt
  float: right

.login li
  display: inline-block
  margin-right: 5px

.login li span
  padding: 10px 4px 2px 4px
  background-color: white
